@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #0d1128; /* Fundo azul escuro em todo o site */
  color: #fafafa;             /* Cor padrão do texto clara */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit; /* 'inherit' faz o link ter a mesma cor do texto ao redor */
  transition: 0.4s;
}



